@{
    ViewData["Title"] = "About";
}

<div class="col-md-12">

    <h2>@ViewData["Title"]</h2>

    <p>Book<strong>SACK</strong> is a mystery novel subcategory predictor developed by Ruth <strong>S</strong>ylvia, Sam <strong>A</strong>ssaf, Delia <strong>C</strong>asa, and Max <strong>K</strong>aye.</p>
    <p>It is a project completed as a course requirement for <strong>NBAY 6170 - Designing Data Products</strong> taught by <strong>Prof. Lutz Finger</strong> at <strong>Cornell Tech</strong>.</p>

</div>