@{ ViewData["Title"] = "Home Page"; } @model BookSack.Models.Book
<div class="col-xs-12">
  <form asp-action="Index" class="col-xs-6">
    <div class="form-group row">
      <label>Insert book synopsis here</label>
      <textarea class="form-control" name="synopsis" rows="5">@Model.Synopsis</textarea>
      <br/>
    </div>
    <div class="form-group row">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class="col-xs-6">
    @Model.TableForView()
  </div>
  <div class="col-xs-6">
  </div>
</div>